<header class="site-header" role="banner">
	<div class="wrapper nav">
		<a class="site-title" href="{{ '/' | relative_url }}">Junseung You(유준승)</a>
	
		<nav aria-label="Primary navigation">
			<a href="{{ '/' | relative_url }}">About</a>
			<a href="{{ '/research/' | relative_url }}">Research</a>
			<a href="{{ '/publications/' | relative_url }}">Publications</a>
			<a href="{{ '/services/' | relative_url }}">Services</a>
			<a href="{{ '/assets/jsyou.pdf' | relative_url }}">CV</a>
		</nav>
	</div>
</header>
