<header class="site-header">
	<div class="wrapper nav">
		<nav aria-label="Primary navigation">
			<a href="{{ '/' | relative_url }}#home">Home</a>
			<a href="{{ '/' | relative_url }}#publications">Publications</a>
			<a href="{{ '/' | relative_url }}#education">Education</a>
			<a href="{{ '/' | relative_url }}#experience">Experience</a>
			<a href="{{ '/' | relative_url }}#talks">Talks</a>
			<a href="{{ '/' | relative_url }}#services">Services</a>
			<a href="{{ '/assets/jsyou.pdf' | relative_url }}">CV</a>
		</nav>
	</div>
</header>
